/* Fundo azul */
.atendente-tela {
  background-color: #2e4392; /* Azul */
  height: 100vh; /* Altura total da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Estilo da frase no centro */
.frase-centro {
  color: #ffffff; /* Branco */
  font-size: 36px; /* Tamanho grande */
  text-align: center;
  margin-bottom: 20px; /* Espaçamento abaixo da frase */
}

/* Estilo do botão */
.botao-chamar {
  background-color: #ffffff; /* Branco */
  color: #2e4392; /* Azul */
  border: none; /* Sem borda */
  border-radius: 5px; /* Borda arredondada */
  font-size: 18px; /* Tamanho do texto */
  padding: 10px 20px; /* Espaçamento interno */
  cursor: pointer; /* Indicador de clique */
  font-weight: bold; /* Texto em negrito */
}

.botao-chamar:hover {
  background-color: #d9d9d9; /* Cinza claro no hover */
}
